{% extends "base.html" %}

{% block title %}Vote area list{% endblock %}

{% block content %}
<div class="container" style="padding: 5rem;">
    <h1 style="padding-top: 1rem; padding-bottom: 1rem;">Election area list</h1>
    {% if user.is_superuser or user.is_staff %}
    <a href="{% url 'add_area' %}" class="btn btn-ayaka"><i class="mdi mdi-plus" aria-hidden="true" style="font-size: 20px"></i> Add area</a>
    {% endif %}
    <p></p>
    <div style="overflow:hidden">
        <table class="table table-striped table-dark" style="vertical-align: middle;">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Detail</th>
                </tr>
            </thead>
            <tbody>
                {% for area in all_area %}
                <tr>
                    <th scope="row">{{ area.id }}</th>
                    <td>{{ area.name }}</td>
                    <td>{{ area.description }}</td>
                    <td>
                        <a href="{% url 'area_detail' area.id %}" class="btn btn-ayaka">Detail</a>
                        {% if user.is_superuser or user.is_staff %}
                        <a href="{% url 'edit_area' area.id %}" class="btn btn-ayaka">Edit</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}