{% extends "base.html" %}

{% block title %}Partylist calculation detail{% endblock %}

{% block content %}
<div class="container" style="padding: 5rem;">
    <h1 style="padding-top: 1rem; padding-bottom: 1rem;">{% include "snippets/back-button.html" %} Partylist calculation</h1>
    <a href="https://www.ratchakitcha.soc.go.th/DATA/PDF/2561/A/068/40.PDF" class="btn btn-ayaka"><i class="mdi mdi-file-document" aria-hidden="true" style="font-size: 20px"></i> Full detail in Thai</a>
    <p></p>
    <div style="overflow:hidden">
        <p><i>From Organic Act on Member of the House of Representatives Election section 128:</i></p>
        <p>(1) Take the number of all people who voted excluding no vote and voided ballot, and divide it by the total member count of the parliament which is 500. The resulting number can be inferred as the average number of population per 1 Member of Parliament seat.</p>
        <p>(2) To find the number of members of the parliament belonging a party, take the total number of votes the party gained from an election (FPTP) and divide it by the value gotten from (1) which is  71,065.294. The result will be the number of members of the parliament that the party should have for the current election."</p>
        <p>(3) Take the number of members of the parliament the party should have from (2), and subtract it by the number of members of parliament that the party has gotten (FPTP). The result will be the number of members of the parliament from party-list proportional representation that the party will receive.</p>
        <p>(4) If the result from (3) is in decimal, then use only the integer to distribute the number of members of parliament for each perty first. If after the distribution the number of members of parliament is still lacking (not reaching 150), then let the party with the highest decimal value receive 1 member of parliament from the 150 members order.</p>
        <p>(5) If the decimal values are equal, then take the national score and divide it by the number of members of parliament the party should have. The party with the higher result will be distributed members of parliament.</p>
        <p>(6) If after calculating using the above formula and all parties receives over 150 members of parliament from party-list proportional representation, then take the number of members of parliament from party-list proportional representation and multiply it by 150 then divided by the number of members of parliament from party-list proportional representation that is calculated. The result will be the number of members of parliament from party-list proportional representation that the parties will receive. Although, if the result is in decimal the use the formula in (4)</p>
    </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}