{% extends "base.html" %}

{% block title %}Partylist calculation detail{% endblock %}

{% block content %}
<div class="container" style="padding: 5rem;">
    <h1 style="padding-top: 1rem; padding-bottom: 1rem;">{% include "snippets/back-button.html" %} Partylist calculation</h1>
    <a href="https://www.ratchakitcha.soc.go.th/DATA/PDF/2561/A/068/40.PDF" class="btn btn-ayaka"><i class="mdi mdi-file-document" aria-hidden="true" style="font-size: 20px"></i> Full detail in Thai</a>
    <p></p>
    <div style="overflow:hidden">
        <h3>Full detail in English</h3>
        <p>TODO: Add this</p>
        <h3>Full detail in Thai</h3>
        <p><i>จาก พ.ร.ป. ว่าด้วยการเลือกตั้งสมาชิกสภาผู้แทนราษฎร มาตราที่ 128</i></p>
        <p>(1) นำจำนวนผู้มาใช้สิทธิเลือกตั้งทั้งประเทศ ไม่รวมบัตรเสีย ไม่รวมบัตรที่ไม่ประสงค์เลือกผู้ใด เป็นตัวตั้ง หารด้วยจำนวน ส.ส. ทั้งหมด คือ 500 จะได้ผลลัพธ์เป็นตัวเลขชุดหนึ่ง ที่อนุมานว่า เป็นค่าเฉลี่ยของจำนวนประชากรต่อ ส.ส. หนึ่งที่นั่ง</p>
        <p>(2) เมื่อจะหาจำนวน ส.ส. ของพรรคการเมืองใด ก็นำคะแนนรวมทั้งประเทศที่พรรคการเมืองนั้นได้จากการเลือกตั้งในระบบแบ่งเขตมาเป็นตัวตั้ง แล้วนำตัวเลขที่ได้จากข้อ (1) คือ 71,065.294 ไปหาร ผลลัพธ์จะเป็นจำนวน ส.ส. ที่พรรคการเมืองนั้นควรจะมีได้ในการเลือกตั้งครั้งนี้ หรือที่เรียกกันว่า "จำนวน ส.ส. พึงมี"</p>
        <p>(3) นำจำนวน ส.ส. ที่พรรคการเมืองนั้นควรจะมีได้ จากข้อ (2) มาเป็นตัวตั้ง ลบด้วยจำนวน ส.ส. แบบแบ่งเขตทั้งหมดที่พรรคการเมืองนั้นได้มาแล้ว ผลลัพธ์ คือจำนวน ส.ส. จากระบบบัญชีรายชื่อที่พรรคการเมืองนั้นจะได้รับ</p>
        <p>(4) หากผลลัพธ์ที่ได้จากข้อ (3) เป็นเศษทศนิยม ยังไม่นำเศษทศนิยมมาใช้ ยังไม่ปัดเศษขึ้นและปัดเศษลง ให้เอาเฉพาะจำนวนเต็มมาใช้จัดสรรจำนวน ส.ส. บัญชีรายชื่อให้แต่ละพรรคก่อน หากรวมแล้วยังได้ ส.ส. บัญชีรายชื่อไม่ครบ 150 คน ให้พรรคการเมืองที่มีเศษทศนิยมเหลือมากที่สุด ได้รับ ส.ส. บัญชีรายชื่อเพิ่มอีกหนึ่งคน ตามลำดับจนครบ 150 คน</p>
        <p>(5) ถ้าเศษของทศนิยมเท่ากัน ให้เอาคะแนนรวมทั้งประเทศที่พรรคการเมืองนั้นได้เป็นตัวตั้ง หารด้วย "จำนวน ส.ส. พึงมี" ของพรรคนั้น หากพรรคใดได้ผลลัพธ์เยอะกว่า ก็ให้จัดสรร ส.ส. บัญชีรายชื่อให้พรรคนั้น</p>
        <p>(6) หากคำนวนตามสูตรนี้แล้ว ปรากฏว่า พรรคการเมืองทั้งหมดได้ ส.ส. บัญชีรายชื่อรวมแล้วมากกว่า 150 คน ให้คำนวนปรับจำนวนใหม่ให้เหลือ 150 คน พอดี โดยการนำจำนวน ส.ส. บัญชีรายชื่อ ของแต่ละพรรค คูณด้วย 150 และหารด้วย จำนวน ส.ส. บัญชีรายชื่อทั้งหมดที่คำนวนได้ ผลที่ได้ก็จะเป็นจำนวน ส.ส. บัญชีรายชื่อที่พรรคนั้นๆ ได้รับ หากมีเศษทศนิยม ให้ใช้วิธีการตามข้อ (4) </p>
    </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}