{% extends "base.html" %}

{% block title %}Vote area list{% endblock %}

{% block content %}
<div class="container" style="padding: 5rem;">
    <h1 style="padding-top: 1rem; padding-bottom: 1rem;">Candidate list</h1>
    {% if user.is_superuser or user.is_staff %}
    <a href="{% url 'add_candidate' %}" class="btn btn-ayaka"><i class="mdi mdi-plus" aria-hidden="true" style="font-size: 20px"></i> Add candidate</a>
    {% endif %}
    <p></p>
    {% include "snippets/legacy-description.html" %}
    <p></p>
    <div style="overflow:hidden">
        <table class="table table-striped table-dark" style="vertical-align: middle;">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Area</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for candidate in all_candidate_new %}
                {% include "snippets/candidate/candidate-row-new.html" %}
                {% endfor %}
                {% for candidate in all_candidate_legacy %}
                {% include "snippets/candidate/candidate-row-old.html" %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}