{% extends "base.html" %}

{% block title %}Legacy party list{% endblock %}

{% block content %}
<div class="container" style="padding: 5rem;">
    <h1 style="padding-top: 1rem; padding-bottom: 1rem;">{% include "snippets/back-button.html" %} Legacy party list</h1>
    {% include "snippets/legacy-description.html" %}
    <p></p>
    <div style="overflow:hidden">
        <table class="table table-striped table-dark" style="vertical-align: middle;">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for party in party_list_new %}
                {% include "snippets/party/party-row-new.html" %}
                {% endfor %}
                {% for party in party_list_old %}
                {% include "snippets/party/party-row-old.html" %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}