{% extends "base.html" %}

{% block title %}Utility{% endblock %}

{% block content %}
<div class="container" style="padding: 5rem;">
    <h1 style="padding-top: 1rem; padding-bottom: 1rem;">Utility</h1>
    <p style="color: yellow"><i class="mdi mdi-information" aria-hidden="true" style="font-size: 20px"></i> This action has direct access to the database, before use please ask other member before use this !</p>
    <a href="{% url 'import_legacy_data' %}" class="btn btn-ayaka"><i class="mdi mdi-open-in-new" aria-hidden="true" style="font-size: 20px"></i> Import legacy data</a>
    <p></p>
    <div style="overflow:hidden">

    </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}