{% extends "base.html" %}

{% block title %}Template here{% endblock %}

{% block content %}
<div class="container" style="padding: 5rem;">
    <h1 style="padding-top: 1rem; padding-bottom: 1rem;">{{ profile.user.username }}'s Profile</h1>
    {% if user.id == profile.user.id %}
    <a href="#" class="btn btn-ayaka"><i class="mdi mdi-pencil" aria-hidden="true" style="font-size: 20px"></i> Edit profile</a>
    {% endif %}
    <div style="overflow:hidden; color: var(--color-primary);">
        <div class="p-3 d-flex">
            <div class="pe-3">
                <p><img src="{{ profile.image.url }}" alt="{{ profile.user.username }}'s profile" style="width:200px; height:200px; border-radius:100px"></p>
            </div>
            <div>
                <h2>{{ profile.user.username }}</h2>
                <p><i class="mdi mdi-email" aria-hidden="true" style="font-size:18px"></i> {{ profile.user.email }}</p>
                <p><i class="mdi mdi-map-marker radius" aria-hidden="true" style="font-size:18px"></i>
                    {% if profile.area.id == null %}
                    No registered area
                    {% else %}
                    <a href="{% url 'area_detail' profile.area.id %}">{{ profile.area.name }}</a>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}