{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container" style="padding: 5rem;">
    <h1 style="padding-top: 1rem; padding-bottom: 1rem;">{{ profile.user.username }}'s Profile</h1>
    {% if user.id == profile.user.id %}
    <a href="{% url 'edit_profile' %}" class="btn btn-ayaka"><i class="mdi mdi-pencil" aria-hidden="true" style="font-size: 20px"></i> Edit profile</a>
    {% endif %}
    <div style="overflow:hidden; color: var(--color-primary);">
        <div class="p-3 d-flex">
            <div class="pe-3">
                <p><img src="{{ profile.image.url }}" alt="{{ profile.user.username }}'s profile" style="width:200px; height:200px; border-radius:100px; object-fit:cover;"></p>
            </div>
            <div>
                <h2>{{ profile.user.username }}</h2>
                <p><i class="mdi mdi-email" aria-hidden="true" style="font-size:18px"></i> {{ profile.user.email }}</p>
                <p><i class="mdi mdi-map-marker radius" aria-hidden="true" style="font-size:18px"></i>
                    {% if profile.area.id == null %}
                    No registered area
                    {% else %}
                    <a href="{% url 'area_detail' profile.area.id %}">{{ profile.area.name }}</a>
                    {% endif %}
                </p>
            </div>
        </div>
        {% if user.id == profile.user.id %}
        <div>
            <h4 style="font-weight: bold">Vote history</h4>
            {% if vote_history|length != 0 %}
            <table class="table table-striped table-dark" style="vertical-align: middle;">
                <thead>
                    <tr>
                        <th scope="col">Election</th>
                        <th scope="col">Candidate</th>
                        <th scope="col">Time</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vote in vote_history %}
                    <tr>
                        <th scope="row"><a href="{% url 'election_detail' vote.election.id %}">{{ vote.election.name }}</a></th>
                        <td><a href="{% url 'candidate_detail' vote.candidate.id %}"><img src="{{ vote.candidate.image.url }}" alt="{{ vote.candidate.name }}" style="width:50px; height:50px; border-radius:100px"> {{ vote.candidate.name }}</a></td>
                        <td>{{ vote.time }}</td>
                        <td>
                            <a href="{% url 'election_detail' vote.election.id %}" class="btn btn-ayaka"><i class="mdi mdi-information" aria-hidden="true" style="font-size:15px"></i> See election detail</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>No vote history</p>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}